<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
<br>
<%- include('partials/pagination.ejs') %>
<br>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-sm-2 mb-2">
          <form action="/filter" method="POST" id="search_filter">
            <input type="text" id="search_filter_text" name="search_filter_text" class="form-control form-control-lg" placeholder="Pesquise um presente! ;) ..." required>
            <br>
            <div class="text-center">
              <button type="submit" class="btn btn-primary btn-lg filtrar">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter">
                  <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                </svg>
                Filtrar
              </button>
              <a type="button" href="/clearFilter" class="btn btn-danger btn-lg limparFiltro">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-octagon">
                  <polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line>
                </svg>
                Limpar Filtro
              </a>
            </div>
          </form>
      </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <% result.forEach((key) => { %>
        <div class="col-md-auto mb-2">
          <div class="card mx-auto h-100" style="width: 18rem;">
            <% if (key.nome != '') { %>
              <img class="card-img-top" src="<%= key.link_imagem %>" style="opacity: 0.2;" alt="Card image cap">
              <div class="centered-received">
                <h2>ADQUIRIDO!</h2>
              </div>
            <% } else { %>
              <img class="card-img-top" src="<%= key.link_imagem %>" data-toggle="modal" data-target="#imageModal<%= key.n %>" alt="Card image cap">
            <% } %>
            <!-- MODAL IMAGE -->
            <div class="modal fade" id="imageModal<%= key.n %>" tabindex="-1"
                role="dialog" aria-labelledby="imageModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <!-- w-100 class so that header
                        div covers 100% width of parent div -->
                            <h5 class="modal-title w-100"
                                id="imageModalLabel">
                                <%= key.produto %>
                            </h5>
                            <button type="button" class="close"
                                data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">
                                    x
                                </span>
                            </button>
                        </div>
                        <!--Modal body with image-->
                        <div class="modal-body justify-content-center">
                            <img class="img-fluid" src="<%= key.link_imagem %>" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger"
                                data-dismiss="modal">
                                Fechar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= key.produto %></h5>
              <p class="card-text"><%= key.nome != '' ?
                                      'JÁ CONSEGUIMOS! :)' : key.specs != '' ?
                                      'Escolha do casal: '.concat(key.specs): null %></p><!--ADDING TEXT THEN HAVE SPECS -->
              <% if (key.nome != '') { %>
                <a href="<%= key.link %>" target="_blank" class="btn btn-primary disabled">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                  </svg>
                  Ver
                </a>
                <button data-numero="<%= key.n %>" type="button" class="botaoComprei btn btn-danger" data-toggle="modal" data-target="#modalComprei" disabled>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-heart" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12ZM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Z"/>
                    <path d="M8 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                  </svg>
                  COMPRADO!!
                </button>
              <% } else { %>
                <a href="<%= key.link %>" target="_blank" class="btn btn-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                  </svg>
                  Ver
                </a>
                <button data-numero="<%= key.n %>" type="button" class="botaoComprei btn btn-danger" data-toggle="modal" data-target="#modalComprei">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-heart" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12ZM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Z"/>
                    <path d="M8 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                  </svg>
                  Vou comprar!!
                </button>
              <% } %>
            </div>
          </div>
        </div><br>
      <% }) %>
    </div><br>

<%- include('partials/pagination.ejs') %>
    
<!--<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Número</th>
        <th scope="col">Produto</th>
        <th scope="col">Valor</th>
        <th scope="col">Especificações</th>
        <th scope="col">Link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><%= //element.n %></th>
        <td><%= //element.produto %></td>
        <td><%= //element.valor %></td>
        <td><%= //element.specs %></td>
        <td><%= //element.link %></td>
      </tr>
    -->
<%- include('modals/modals.ejs') %>
<%- include('partials/footer.ejs') %>